<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stellarnear.yfa_dealer">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"

        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SpellCastActivity"

            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:label="Paramètres">
        </activity>

        <activity android:label="Détail des dégâts"
            android:name=".DisplayDamageDetail"
            android:screenOrientation="portrait"/>


    </application>

</manifest>