<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stellarnear.yfa_companion">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="stellarnear.yfa_companion.Activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="stellarnear.yfa_companion.Activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="stellarnear.yfa_companion.Activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/setting_activity"/>

        <activity android:label="@string/help_activity"
            android:name=".Activities.HelpActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBarHelp"/>

        <activity android:label="@string/buff_activity"
            android:name=".Activities.BuffActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBarBuff"/>

    </application>

</manifest>